## Assignment 1 Pattern Programming
##Registeration i'd : SIRSS2221
<b>Name: SUPRIYO PAL</b></br>
<b>College : GANDHI ENGINEERING COLLEGE</b>

In [ ]:
## Printing Downward Pyramid
n=int(input("Enter the number:"))
for i in range(n+1,0,-1):
    for j in range(0,i-1):
        print("5",end=' ')
    print()

Enter the number:5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
## Printing numbers in Downward Half
def pattern(n):
    for i in range(n+1,1,-1):
        for j in range(0,i):
            print(j,end=' ')
        print("\r")
pattern(5)

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
## Printing Odd numbers in Upward 
n = int(input("Enter the number:"))
i = 1
while i <= n:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

Enter the number:5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
## Printing numbers in Upward  
n=int(input("Enter the number:"))
for i in range(0,n):
    for j in range(i+1,0,-1):
        print(j,end=' ')
    print()

Enter the number:5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
## Printing Reverse order
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

In [ ]:
## Printing Pascal's triangle
def pascal(s):
    for i in range(0, s):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print(pascal(rows))
print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
None

In [ ]:
#Printing Square number 
r = 5
for i in range(1, r + 1):
    for j in range(1, r + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
#Printing Multiplication Table

n = int(input("Enter the number of rows "))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        
        square = i * j
        print(i * j, end='  ')
    print()

Enter the number of rows 8
1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

In [ ]:
# Downward triangle pattern 
rows = int(input("Enter the number of rows: "))  
k = r - 2  
 
for i in range(r, -1 , -1):  
    for j in range(k , 0 , -1):  
        print(end=" ")  
    k = k + 1  
    for j in range(0, i+1):  
        print("* " , end="")  
    print()

Enter the number of rows: 5
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [ ]:
# Printing Triangle Pyramid
n = int(input("Enter the number of rows: "))  
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1    
    for j in range(0, i + 1):  
          
        print("* ", end=' ')  
    print(" ")

Enter the number of rows: 7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [ ]:
rows = int(input("Enter the number of rows: "))  
  
# Outer loop will print the number of rows  
for i in range(0, rows):  
    # This inner loop will print the stars  
    for j in range(0, i + 1):  
        print("*", end=' ')  
    # Change line after each iteration  
    print(" ")  
    
print()
# For second pattern  
for i in range(rows + 1, 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

In [ ]:
rows =int(input("Enter the number of rows: "))  
    
for i in range(0, rows):  
    
    for j in range(0, i + 1):  
        print("*", end=' ')  
    
    print(" ")  
# For second pattern  
for i in range(rows + 1, 0, -1):  
    for j in range(0, i - 2):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Printing in single pattern

def pypart2(n):
    k = 2*n - 2
    for i in range(0, n):
        for j in range(0, k):
            
            print(end=" ")

        k = k - 2

        for j in range(0, i+1):
                
                print("* ", end="")
        print ("\r")
    
    m=4
    for i in range(m+1,0,-1 ):
        for j in range(k,0):
            
            print(end=" ")

        k = k - 2

        for j in range(1, i):
                
                print("* ", end="")
        print ("\r")


n = 5
pypart2(n)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
#printing Hourglass
rows = int(input("Enter the number of rows: "))  
k = rows - 2  
  
for i in range(rows, -1 , -1):  
    for j in range(k , 0 , -1):  
        print(end=" ")  
    k = k + 1  
    for j in range(0, i+1):  
        print("* " , end="")  
    print()  
k = 2 * rows  - 2  
for i in range(0 , rows+1):  
    for j in range(0 , k):  
        print(end=" ")  
    k = k - 1  
    for j in range(0, i + 1):  
        print("* ", end="")  
    print()

Enter the number of rows: 5
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

In [ ]:
# Printing Mirror Image
n=int(input("Enter no:"))
for a in range(n,0,-1):
    for b in range(1,a+1):
        print("*",end='')
    for s in range(n-a):
        print("__",end="")
    for c in range(0,a):
        print("*",end="")
    print()

Enter no:8
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*